<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0">
			<meta name="description" content="{{ page.description }}">
			<meta name="author" content="GoYourfly">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="/css/bootstrap.css" rel="stylesheet">
			<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
			{% include analytics.html %}
		</head>
		<body>
	    		<ul class="nav nav-pills">
	        		<li role="presentation"><a href="/">Home</a></li>
		        	<li role="presentation"><a href="/about">About</a></li>
	        		<li role="presentation"><a href="/cv">CV</a></li>
	        		<li role="presentation"><a href="/blog">Blog</a></li>
	    		</ul>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        		<li class="label label-primary"><a href="mailto:goyourfly@gmail.com">Email</a></li>
	        		<li class="label label-success"><a href="https://github.com/goyourfly">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
