<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<meta name="description" content="{{ page.description }}">
			<meta name="author" content="GoYourfly">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="/css/bootstrap.css" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2" style="margin-top:40px;margin-bottom:100px; padding-top:40px;padding-bottom:60px; box-shadow:0px 0px 10px rgba(0,0,0,.4);">
			<nav >
				<ul>
				<li><a href="/">Home</a></li>
		       		<li><a href="/about">About</a></li>
	     			<li><a href="/cv">CV</a></li>
	   			<li><a href="/blog">Blog</a></li>
				</ul>
			</nav>
	
			<div class="divider"/>
			
			{{ content }}
					
			
			<footer>
						<a class="text-right" style="margin:20px;" href="mailto:goyourfly@gmail.com">Email</a>
						<a class="text-right" style="margin:20px;" href="https://github.com/goyourfly">Github</a>
			</footer>
				</div>
			</div>
			</div><!-- /.container -->
		</body>
	</html>
