<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<meta name="description" content="{{ page.description }}">
			<meta name="author" content="GoYourfly">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="/css/bootstrap.css" rel="stylesheet">
			<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
			{% include analytics.html %}
		</head>
		<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2  img-thumbnail">
			<ul class="nav nav-pills" role="tablist">
				<li role="presentation"><a href="/">Home</a></li>
		       		<li role="presentation"><a href="/about">About</a></li>
	     			<li role="presentation"><a href="/cv">CV</a></li>
	   			<li role="presentation"><a href="/blog">Blog</a></li>
			</ul>
	
			<div class="divider"/>
			
			{{ content }}
			
			<footer>
						<a class="label label-primary col-xs-4" href="mailto:goyourfly@gmail.com">Email</a>
						<a class="label label-success col-xs-4" href="https://github.com/goyourfly">Github</a>
			</footer>
				</div>
			</div>
			</div><!-- /.container -->
		</body>
	</html>
